/* NOTE: Global styles
* ------------------------------ */

body {
    margin: 0;
    color: #343434;
}

h1,
h2 {
    margin: 0;
}

img {
    width: 300px;
}

a {
    color: orange;
}

ul {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile 
* ------------------------------- */
header {
    background: #0D3B66;
    color: #FFFCE8;
}


/* Projects 
* ------------------------------- */
.projects {
    background: #262B2C;
    color: #FFFCE8;
}

.projects .btn {
    color: #F1F2F6;
    background: #758BFD;
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
    display: inline-block;
}

.projects .btn:hover {
    color: rgba(241, 242, 246, 80%);
    background: rgba(117, 139, 253, 80%);
}

/* Work Experience  
* ------------------------------- */
.work-experience {
    background: #B7D5D4;
}

/* Education 
* ------------------------------- */
.education {
    background: #F7EE7F;
}

/* Contact info 
* ------------------------------- */
footer {
    color: #FFFCE8;
    background: #333745;
}
