/* NOTE: Global styles
* ------------------------------ */

html {
    box-sizing: border-box;
}

*,
*:left,
*:right {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: #343434;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    line-height: 1.5;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1,
h2 {
    margin: 0;
    font-family: "Dancing Script", cursive;
}

img {
    width: 300px;
}

a {
    color: orange;
}

ul {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile 
* ------------------------------- */
header {
    background: #0D3B66;
    color: #FFFCE8;
    text-align: center;
}


/* Projects 
* ------------------------------- */
.projects {
    background: #262B2C;
    color: #FFFCE8;
}

.projects .btn {
    color: #F1F2F6;
    background: #758BFD;
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
    display: inline-block;
}

.projects .btn:hover {
    color: rgba(241, 242, 246, 80%);
    background: rgba(117, 139, 253, 80%);
}

.project-items {
    overflow: hidden;
    border-bottom: 1px dashed gray;
    padding: 25px 0;

}

.project-items img {
    float: left;
    margin-right: 20px;
}

.project-items h3 {
    margin: 0;
}

/* Work Experience  
* ------------------------------- */
.work-experience {
    background: #B7D5D4;
}

.job-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

/* Education 
* ------------------------------- */
.education {
    background: #F7EE7F;
}

/* Contact info 
* ------------------------------- */
footer {
    color: #FFFCE8;
    background: #333745;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.content-list a {
    padding: 15px;
    display: inline-block;
}
